<div class="container my-5 card">
  <h2>Enregistrement d'un courrier</h2>
  <form (ngSubmit)="enregistrerCourrier()" [formGroup]="courrierForm">
    <div class="mb-3">
      <label class="form-label">Numéro d'arrivée (num_CA)</label>
      <input type="text" class="form-control" formControlName="num_CA" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Numéro d'origine</label>
      <input type="text" class="form-control" formControlName="num_origine">
    </div>
    <div class="mb-3">
      <label class="form-label">Origine du courrier</label>
      <input type="text" class="form-control" formControlName="origine_courrier">
    </div>
    <div class="mb-3">
      <label class="form-label">Date de signature</label>
      <input type="date" class="form-control" formControlName="date_signature">
    </div>
    <div class="mb-3">
      <label class="form-label">Objet du courrier</label>
      <input type="text" class="form-control" formControlName="objet_courrier">
    </div>
    <div class="mb-3">
      <label class="form-label">Pièces jointes</label>
      <input type="file" class="form-control" (change)="onFileChange($event)" multiple>
    </div>
    <button type="submit" class="mb-5 btn btn-primary" [disabled]="courrierForm.invalid">Enregistrer</button>
  </form>
  <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
</div>